<% if recipe.errors.any? %>
  <ul>
  <% recipe.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for(recipe) do |form| %>

  <%= image_tag @recipe.photo.variant(resize: "500x500") if @recipe.photo.attached? %>

  <div class="field">
    <%= form.label :photo, '照片' %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :title, '標題' %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :price, '價錢' %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :description, '說明' %>
    <%= form.text_area :description %>
  </div>

  <%= form.submit %>
<% end %>

